@import "tailwindcss";

@layer utilities {

  .dark .leaflet-layer,
  .dark .leaflet-control-zoom-in,
  .dark .leaflet-control-zoom-out,
  .dark .leaflet-control-attribution {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
  }
}

@variant dark (&:where(.dark, .dark *));

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  @apply bg-gray-50 text-gray-900;
}